{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Information</h1>
  <p>
    This clients implements the Basic RAPPOR algoritm, which is described in the <a href="https://doi.org/10.1145/2660267.2660348">paper</a> by Erlingson et al.<br>
    To visualize privacy, chernoff faces were used, based on the d3 implemantation of <a href="http://bl.ocks.org/larskotthoff/2011590">Lars Kotthoff</a>.
    <br>
    Amongst others, the following technologies were used for creating this software:<br>
    Flask, jQuery, D3, Bootstrap, JSON, REST.

</div>
{% endblock %}
