{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Information</h1>
  <p>Todo:
    This clients implements the Basic RAPPOR algoritm, which is described in the <a href="https://doi.org/10.1145/2660267.2660348">paper</a> by Erlingson et al.<br>
    To visualize privacy, chernoff faces were used, based on the d3 implemantation of (insert author).
    <br>
    Amongst others, the following technologies were used for creating this software:<br>
    List with flask, jquery, d3, bootstrap, json and so on.

</div>
{% endblock %}
