{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h3>server inquiries:</h3>
  <ul>
    {% for question in questions %}
    <li>{{question}}</li>
    {% endfor %}
  </ul>
  <br>
  <h3>client inquiries:</h3>
  <ul>
    {% for answer in answers %}
    <li>{{answer}}</li>
    {% endfor %}
  </ul>
  <h3>reports:</h3>
  <ul>
    {% for report in reports %}
    <li>{{report}}</li>
    {% endfor %}
  </ul>
  <h3>archive:</h3>
  <ul>
    {% for stat in stats %}
    <li>{{stat}}</li>
    {% endfor %}
  </ul>
  <h3>settings:</h3>
  <ul>
    <li>{{cnfg}}</li>
  </ul>

</div>

{% endblock %}
