{# PRIVACY HTML #}
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Privacy Settings a</h1>
  <p>please set your RAPPOR privacy settings</p>

  <!-- we con`t need class or action, flask is taking care of these -->
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.f.label }} {{ form.f() }}
      {{ form.p.label }} {{ form.p() }}
      {{ form.q.label }} {{ form.q() }}
      {{ form.submit() }}
  </form>



{% endblock %}
