{# PRIVACY HTML #}
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>welcome to the privacy page</h1>
  <p>privacy settings for RAPPOR</p>


<! -- flash message -->
{% for mess in get_flashed_messages()  %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ mess }}
</div>

{% endfor %}
<! -- end of flash message -->

<!-- we con`t need class or action, flask is taking care of these -->
  <form method="POST">
    {{ form.hidden_tag()}}  <!-- CSRF security feature -->
    {{ form.p.label }} {{ form.p(class="border border-success") }}
    {{ form.submit() }}
  </form>


  <p>
  {% if p %}
  The p value you entered is {{p}}
  ZeppZepp!!
  {% else %}
  Please enter your p Value!!
  {% endif %}</p>





<!--
  <form action="{{url_for('thankyou')}}">
    <label for="p">p</label>
    <input type="text" name="p" size="3">
    <br>
    <label for="q">q</label>
    <input type="text" name="q" size="3">
    <br>
    <label for="r">r</label>
    <input type="text" name="r" size="3">
    <br>
    <input type="submit" value="Save Your Data">
  </form>

-->

  <form>
    <div class="form-group">
      <label for="formControlRange">Utility vs. Privacy Slider</label>
      <input type="range" class="form-control-range" id="formControlRange">
    </div>
  </form>

</div>

{% endblock %}
