{% extends "base.html" %}
{% block content %}

    <style>
        .plot {
          display: inline-block;
        }
        .plot rect.bar1 {
            fill: red;
        }

        .plot rect.bar2 {
            fill: coral;
        }

        .plot text {
            font: 10px sans-serif;
        }

        .axis text {
            font: 10px sans-serif;
            fill: #000;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .slider {
            display: block;
        }

        .slider label {
            display: inline-block;
            width: 25px;
        }

        .slider .value-box {
            display: inline-block;
        }

        .legend {
          margin: 10px 0px 50px 100px;
        }

        .legend div {
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
        }

        .highlight {
          fill: #cc3c2e !important;
        }
    </style>
    <h2>{{ name }}</h2>
    <h5>p: {{ inq.p }} q: {{ inq.q }}</h5>
    <div class="plot" id="plot-original">
    </div>

    <br><br>
    <button id="refresh">Fetch IRR</button>
    <span id="count"></span>
    <br><br>
    <button id="clear">Clear Simulation</button>

<script src="//code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="../static/chart.js"></script>

<script type="application/javascript">
    $(function () {

        setupRefreshButton();
        setupClearButton();
        initializeChart();

        function setupRefreshButton() {

            $('#refresh').on('click', () => {

                $.get('http://localhost:5001/simulate_irr/{{name}}')
                    .done((data) => {
                        chart(
                          data['answer_prr'],
                          data['rolling_irr'],
                          [],
                          '#plot-original'
                        );

                        $('#count').text(data['number of reports']);
                    })
            });
        }

        function setupClearButton() {
          $('#clear').on('click', () => {
            $.ajax({
              url: 'http://localhost:5001/simulate_irr/{{name}}',
              method: 'DELETE'
            }).done(() => { window.location.reload(true) });
          });
        }

        function initializeChart() {

            // initialize the chart with dummy-data

            $.get('http://localhost:5001/simulate_irr/{{name}}')
                .done((data) => {

                  if (typeof data['number of reports'] === 'undefined') {
                    $('#plot-original').append('Simulation was freshly created, please reload the page!');
                    return;
                  }

                  chart(
                    data['answer_prr'],
                    data['rolling_irr'],
                    [],
                    '#plot-original'
                  );

                  $('#count').text(data['number of reports']);
                })
        }

    });
</script>

<div class="jumbotron">
  <a class="btn btn-secondary" href="{{ url_for('inquiries_detail', id=inq.id) }}">Back</a>
  <p>This simulation tries to show the effect of the parameter <b>p</b> and <b>q</b> on the instantaneous Randomized Response</b>.
    It takes your answer '<b>{{ inq.answer }}</b>' and generates with every click on 'fetch irr' (or page refresh) a new irr
    based on your stored q-value <b>{{ inq.q }}</b> and p-value <b>{{ inq.p }}</b>. Your own values are the red ones in every bucket. The orange ones are the average of all counted IRR on the server side.<br>
    With every new IRR the average IRR on the server side will give information about the original value (depending on your settings). With a click on 'clear simulation' all previous IRR will be deleted.<p>
    Please note that in a real setting, the IRR woud be made on your PRR-value <b>{{ inq.prr_answer }}</b>, the original answer <b>{{ inq.answer }}</b> was chosen for a better understanding of the concept.
</div>

{% endblock %}
