{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Tests</h1>
  <p>This is for testing. You can force the client direct to request new surveys from the server (if available),
    to match incoming server inquiries with local client inquiries, and to send reports (if any matches apply) back to the server.
  This is usually done automatically and can be configured in internal/config.py</p>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
      <div class="form-group">

  <div class="">
    <input type="submit" name="submit_request" value="Request Surveys"><br>
    Forces the client to request surveys from the server. If surveys are availalbe, they will be fetched by ther server and each question will be stored indivdually in 'server inquiries'.
    If 'quizmode' ist activated, questions from the survey will be stored in client inquiries as well.
  </div>
  <p></p>

  <div class="">
    <input type="submit" name="submit_match" value="Match Inquiries"><br>
    A match between client- and server inquiries will be made, if the the corresponding client inquiries are not locked by the user.
    If name, type and options are identical between client- and server inquiries a report will be generated under the relating surveyid.<br>
    One report will be created for each call of 'match inquiries'.
  </div>
  <p></p>
<div class="">
    <input type="submit" name="submit_report" value="Send Report"><br>
    Forces the client to send a report (if available) to the server. If a report was sent, it will be deleted from the client. Server inquiries belongig to the
    surveyid of the report will be deleted as well. <br>
    One report will be sent for every call of 'send report'.
  </div>
  <p></p>
<div class="">
    <input type="submit" name="clean_archive" value="Clean Archive"><br>
    Deletes all archive entries.<br>
    If a survey is stored in the archive, no new surveys with the corresponding surveyid will be accepted.
  </div>
  </form>


  </div>



{% endblock %}
