{# InquiryDetailForm #}
{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>name: {{ inq.name }}</h1>
  <p>Description: {{ inq.qdescription }}</p>

   <p>f: {{ inq.f }} p: {{ inq.p }} q: {{ inq.q }} </p>

  <form method="POST" data-type="{{ inq.type }}" data-answer="{{ inq.answer }}">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {% if inq.type == 'mc' %}
        <p>{{ form.radio_elem() }}</p>
      {% elif inq.type == 'cbx' %}
        <p>{{ form.checkbox_elem() }}</p>
      {% elif inq.type == 'bool' %}
        <p>{{ form.boolean_elem() }}</p>
      {% endif %}

      {{ form.answer() }}

      <p> {{ form.locked.label }} {{ form.locked(checked=(inq.locked == True)) }} </p>

      <p> {{ form.submit() }} </p>
  </form>

<div class="">
  <p>answer: {{ inq.answer }} PRR: {{ inq.prr_answer }} IRR: {{ inq.irr_answer }} responded: {{ inq.responded }} locked: {{ inq.locked }}</p>
</div>

<div>
  <a class="btn btn-secondary" href="{{ url_for('inquiries_list') }}">List inquiries</a>
  <a class="btn btn-success" href="{{ url_for('inquiries_privacy', id=inq.id) }}">Privacy Settings</a>
  <a class="btn btn-warning" href="{{ url_for('distributions', id=inq.name) }}">Simulation</a>
  <!-- <a class="btn btn-secondary" {{ form.submit() }}> Save Changes</a> -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete inquiry</button>
</div>


</div>

<script type="text/javascript">
 $(function() {

   let answer = $('form').data('answer');

   $('form').find('ul input').each(function(idx, elem) {

     if(answer[idx] === 1) {
       $(elem).attr('checked', 'checked');
     }

   })

   $('#submit').on('click', function(e) {

     let type = $('form').data('type');
     let inputs;
     let answers = [];

     switch(type) {
       case 'mc':
        inputs = $('ul input[type=radio]');
        break;
       case 'cbx':
        inputs = $('ul input[type=checkbox]');
        break;
       case 'bool':
        inputs = $('ul input[type=radio]');
        break;
       default:
        alert('Undefined question type: ' + type + ', cannot submit form.');
        throw Error('Undefined question type');
        return false;
     }

     inputs.each(function(idx, elem) {
       if($(elem).is(':checked')) {
         answers.push(1);
       } else {
         answers.push(0);
       }
     });

     $('#answer').val(JSON.stringify(answers));
     console.log(JSON.stringify(answers));
     return true;
   });
 });
</script>

  <!-- Modal for Pop Up-->
  {# https://getbootstrap.com/docs/4.1/components/modal/ #}
  {# Notice how the link with the id to the button above! #}
  <div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete inquiry {{ inq.name }}?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This will delete this question. Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

          <form action="{{ url_for('inquiries_delete', id=inq.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
