{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>RAPPOR Client</h1>
  <p>available inquiries:</p>
</div>


<div class="container">

      {# Go through each inquiry entry #}
      {% for inq in inqs %}
      <div class="card">
              <div class="card-body">
                  <h2><a class="card-title" href="  {{ url_for('inquiries_detail', id=inq.id) }}">{{ inq.name }}</a></h2>
                  <p>Options: {{ inq.options }} - locked: {{ inq.locked}}  responded: {{ inq.responded }} </p>
                  <p> </p>
                  <a href="{{ url_for('inquiries_detail', id=inq.id) }}" class="btn btn-primary">Edit Inquiry</a>
              </div>

      </div>
      {% endfor %}




{% endblock %}
