{# PrivacyForm #}
{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="../../static/chernoff.js"></script>
<!-- <script type="text/javascript" src="http://www.cip.ifi.lmu.de/~buchnerma/chernoff.js"></script> -->


      <style type="text/css">
          .chernoff > * {
            fill: none;
            stroke: #000;
          }
      </style>

<div class="container">

<div class="jumbotron">horst

  <div id="face">
<svg height="300" width="1000">

</svg>
  </div>



  </div>

<div class="jumbotron">
  <h1>name: {{ inq.name }}</h1>
  <p>Description: {{ inq.qdescription }}</p>
  <p>f: {{ inq.f }} p: {{ inq.p }} q: {{ inq.q }} </p>

  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      <p> {{ form.locked.label }} {{ form.locked(checked=(inq.locked == True)) }} </p>
      <p> {{ form.f.label }} {{ form.f(size=4) }} </p>
      <p> {{ form.p.label }} {{ form.p(size=4) }} </p>
      <p> {{ form.q.label }} {{ form.q(size=4) }} </p>
      <p> {{ form.submit() }} </p>
  </form>


<!-- tests mit bootstrap -->

<form>
  <div class="form-group">
    <label for="formControlRange">Range input f (Lie factor)</label>
    <input type="range" class="form-control-range" id="formControlRange-f" min="-1" max="1" step="0.1">
  </div>
</form>
<form>
  <div class="form-group">
    <label for="formControlRange">Example Range input p (noise)</label>
    <input type="range" class="form-control-range" id="formControlRange-p">
  </div>
</form>
<form>
  <div class="form-group">
    <label for="formControlRange">Example Range inputq (signal)</label>
    <input type="range" class="form-control-range" id="formControlRange-q">
  </div>
</form>

</div>

<!-- ende tests mit bootstrap -->

<div>
  <a class="btn btn-secondary" href="{{ url_for('inquiries_detail', id=inq.id) }}">Back</a>
  <!--
  <a class="btn btn-secondary" href="{{ url_for('inquiries_detail', id=inq.id) }}">Save Changes</a>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete Inquiry</button>
-->
</div>

<script type="text/javascript">

    var svg = d3.select("svg");

    function update(data) {
      console.log("update");
      var c = d3.chernoff()
        .face(function(d) { return d.f; })
        .hair(function(d) { return d.h; })
        .mouth(function(d) { return d.m; })
        .nosew(function(d) { return d.nw; })
        .noseh(function(d) { return d.nh; })
        .eyew(function(d) { return d.ew; })
        .eyeh(function(d) { return d.eh; })
        .brow(function(d) { return d.b; });

    var faces = svg.selectAll("g.chernoff").data(data);

    faces.enter()
        .append("g")
        .attr("class", "chernoff")
        .attr("transform", function(d, i) {
/* translate(" +
(i*200) + "," + (i*0) + ")
*/
            return "scale(1." + i + ")";
        })
        .call(c);

        //faces.exit().remove();
      };

      update([
          //{f: 0, h: -1, m: -1, nw: 0.3, nh: 0.3, ew: 0.3, eh: 0.3, b: -1},
          //{f: 1, h: 1, m: 1, nw: 1, nh: 1, ew: 1, eh: 1, b: 1},
          //{f: 0, h: 0, m: 0, nw: 0.1, nh: 1, ew: 0, eh: 0, b: 0},
          {f: -1, h: -1, m: -1, nw: -1, nh: -1, ew: -1, eh: -1, b: -1}]);

    d3.select('#formControlRange-f').on('change', function () {
      let nose = $('#formControlRange-f').val();
      update({f: -1, h: -1, m: -1, nw: 0, nh: 0, ew: -1, eh: -1, b: -1},
      {f: -1, h: -1, m: -1, nw: 0, nh: 0, ew: -1, eh: -1, b: -1})
    });

    </script>

</div>
</div>
{% endblock content %}
