{# PrivacyForm #}
{% extends "base.html" %}
{% block content %}

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="../../static/chernoff.js"></script>
    <!-- <script type="text/javascript" src="http://www.cip.ifi.lmu.de/~buchnerma/chernoff.js"></script> -->

    <style type="text/css">
        .chernoff > * {
            fill: none;
            stroke: #000;
        }
        label {
            display: inline-block;
        }
    </style>

    <div class="container">


        <div class="jumbotron">
          <h1>{{ inq.name }}</h1>
          <p>{{ inq.qdescription }}</p>
          <p>f: {{ inq.f }} p: {{ inq.p }} q: {{ inq.q }} </p>

            <div id="face">
                <svg height="300" width="1000"></svg>
            </div>

            <form method="POST">

              {# This hidden_tag is a CSRF security feature. #}
              {{ form.hidden_tag() }}

                <div id="params">
                    <label>
                        f: <input name="f" id="param-f" type="text" disabled value="{{ inq.f }}">
                    </label>
                    <label>
                        p: <input name="p" id="param-p" type="text" disabled value="{{ inq.p }}">
                    </label>
                    <label>
                        q: <input name="q" id="param-q" type="text" disabled value="{{ inq.q }}">
                    </label>
                </div>

                <div class="form-group">
                    <label for="formControlRange">Range input f (Lie factor)</label>
                    <input value="" type="range" name="f" class="form-control-range" id="formControlRange-f" min="0.001" max="1" step="0.001">
                </div>

                <div class="form-group">
                    <label for="formControlRange">Range input p (noise) for longitudinal reports</label>
                    <input value="" type="range" name="p" class="form-control-range" id="formControlRange-p" min="-1" max="1" step="0.01">
                </div>

                <div class="form-group">
                    <label for="formControlRange">Range input q (signal) for longitudinal reports</label>
                    <input value="" type="range" name="q" class="form-control-range" id="formControlRange-q" min="-1" max="1" step="0.01">
                </div>


                <a class="btn btn-secondary" href="{{ url_for('inquiries_detail', id=inq.id) }}">Back</a>
                <!-- <a class="btn btn-warning" href="{{ url_for('distributions', id=inq.name) }}">Simulation</a> -->
                {{ form.submit(class="btn btn-primary") }}
            </form>

        </div>

        <script type="text/javascript">

            $(function () {

                // face -- shape of the face {0..1}
                // hair -- shape of the hair {-1..1}
                // mouth -- shape of the mouth {-1..1}
                // noseh -- height of the nose {0..1}
                // nosew -- width of the nose {0..1}
                // eyeh -- height of the eyes {0..1}
                // eyew -- width of the eyes {0..1}
                // brow -- slant of the brows {-1..1}

                let faceState = {
                    f: 0.5,
                    h: 0,
                    m: 0,
                    nw: 0.5,
                    nh: 0.5,
                    ew: 0.5,
                    eh: 0.5,
                    b: 0
                };

                let c = d3.chernoff()
                    .face(function (d) {
                        return d.f;
                    })
                    .hair(function (d) {
                        return d.h;
                    })
                    .mouth(function (d) {
                        return d.m;
                    })
                    .nosew(function (d) {
                        return d.nw;
                    })
                    .noseh(function (d) {
                        return d.nh;
                    })
                    .eyew(function (d) {
                        return d.ew;
                    })
                    .eyeh(function (d) {
                        return d.eh;
                    })
                    .brow(function (d) {
                        return d.b;
                    });

                function drawFace(data) {
                    let faces = d3.select('svg')
                        .selectAll('g.chernoff');

                    faces.data([data])
                        .enter()
                        .append('g')
                        .attr('class', 'chernoff')
                        .call(c);
                }

                function removeFace() {
                    d3.select('svg')
                        .selectAll('g.chernoff')
                        .remove();
                }

                function update() {
                    removeFace();
                    drawFace(faceState);

                    $('#param-f').val(faceState.nw.toFixed(3));
                    $('#param-p').val(convert_range(faceState.b));
                    $('#param-q').val(convert_range(faceState.m));
                }

                function convert_range(value) {
                    const old_range = 1 - (-1);
                    const new_range = 1 - 0;

                    return parseFloat((((value - (-1)) * new_range) / old_range).toFixed(3));
                }

                function convert_range_reverse(value) {
                    const old_range = 1 - 0;
                    const new_range = 1 + 1;

                    return parseFloat(((((value - 0) * new_range) / old_range) - 1).toFixed(3));
                }

                function bindSliders() {
                    d3.select('#formControlRange-f').on('input', function () {
                        let nose = parseFloat($('#formControlRange-f').val());
                        faceState.nw = nose;
                        faceState.nh = nose;
                        update();
                    });

                    d3.select('#formControlRange-p').on('input', function () {
                        let brow = parseFloat($('#formControlRange-p').val());
                        faceState.b = brow;
                        update();
                    });

                    d3.select('#formControlRange-q').on('input', function () {
                        let mouth = parseFloat($('#formControlRange-q').val());
                        faceState.m = mouth;
                        update();
                    });
                }

                function init() {
                  const old_f = parseFloat($('#param-f').val());
                  const old_p = parseFloat($('#param-p').val());
                  const old_q = parseFloat($('#param-q').val());

                    bindSliders();

                    $('#formControlRange-f').val(
                      old_f
                    );
                    $('#formControlRange-p').val(
                      convert_range_reverse(old_p)
                    );

                    $('#formControlRange-q').val(
                      convert_range_reverse(old_q)
                    );

                    faceState.nw = old_f;
                    faceState.nh = old_f;

                    faceState.b = convert_range_reverse(old_p);

                    faceState.m = convert_range_reverse(old_q);

                    removeFace();
                    drawFace(faceState);
                }

                init();

            });
        </script>

    </div>
    </div>
{% endblock content %}
