{# class SurveyForm(FlaskForm) #}
{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="jumbotron">
  <h1>name: {{ srvy.surveyname }}</h1>
  <h2> surveyid: {{ srvy.surveyid }} </h2>
  <h3> serviceprovider: {{ srvy.serviceprovider }} </p>
  <p>Status: {{ srvy.status }} </p>
  <p>Description: {{ srvy.sdescription }} </p>
  <p>Created on: {{ srvy.created_on }} </p>

  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      <div class="form-group">
      {{ form.status.label(class="form-control-label") }}
      {{ form.status(class="form-control form-control-lg") }}
      {% for error in form.status.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>

<div class="">


  <span id="ex18-label-1" class="hidden">Example slider label</span>
       <input id="ex19" type="text"
             data-provide="slider"
             data-slider-ticks="[1, 2, 3]"
             data-slider-ticks-labels='["short", "medium", "long"]'
             data-slider-min="1"
             data-slider-max="3"
             data-slider-step="1"
             data-slider-value="3"
             data-slider-tooltip="hide" />
  </div>           

     <div>
       <a class="btn btn-secondary" href="{{ url_for('survey_detail', id=srvy.id) }}">Show summaries (Todo)</a>
       <a class="btn btn-secondary" href="{{ url_for('survey_detail', id=srvy.id) }}">Evaluate results (Todo)</a>
       <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete Survey</button>
     </div>
</div>

  <!-- Modal for Pop Up-->
  {# https://getbootstrap.com/docs/4.1/components/modal/ #}
  <div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete survey?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Delete this survey. Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

          <form action="{{ url_for('survey_delete', id=srvy.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}
