{# class SurveyForm(FlaskForm) #}
{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="jumbotron">
  <h1>{{ srvy.surveyname }}</h1>
  <p>Description: {{ srvy.sdescription }} </p>

  <p>This page shows information about the  survey {{ srvy.surveyname }}. You can set a new status for the survey, show summaries made out of reports, or generate new summaries which include recently added reports.</p>
  <div class="">
    surveyid: {{ srvy.surveyid }} </br>
    serviceprovider: {{ srvy.serviceprovider }} </br>
    Status: {{ srvy.status }} </br>
    Created on: {{ srvy.created_on }} </br>
  </div>

  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

        <div class="input-group">
          {{ form.status(class="form-control custom-select") }}
          <div class="input-group-append">
            {{ form.submit(class="btn btn-outline-secondary") }}
          </div>
        </div>
        {% for error in form.status.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
  </form>
  </div>

<div class="">
  {% if srvy.status == 'created' or srvy.status == 'paused' %}
      <div>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#del_modal">Delete survey</button>
      </div>
  {% elif srvy.status == 'active' %}
      <div>
        <a class="btn btn-outline-primary" href="{{ url_for('survey_summaries', id=srvy.id) }}">Show summaries</a>
        <a class="btn btn-outline-secondary" href="{{ url_for('survey_eval_summaries', id=srvy.id) }}">New evaluation</a>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#del_modal">Delete survey</button>
      </div>
  {% else %}
      <div>
        <a class="btn btn-outline-primary" href="{{ url_for('survey_summaries', id=srvy.id) }}">Show summaries</a>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#del_modal">Delete survey</button>
      </div>
  {% endif %}
</div>

  <!-- Modal for Pop Up-->
  {# https://getbootstrap.com/docs/4.1/components/modal/ #}
  <div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete survey {{ srvy.surveyname }}?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This will delete the survey with surveyid {{ srvy.surveyid }}. Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

          <form action="{{ url_for('survey_delete', id=srvy.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}
